@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-brand{
  font-family: "Forum", serif;
}
.font-blog{
font-family: "Bitter", serif;
}

.ql-toolbar{
  /* border-radius: none; */
  /* background-color: black; */
  
}

.ql-editor{
  font-family: 'Bitter', serif;
  font-size: 1rem;
  overflow: hidden;
  
}